.secao_banner {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-image: url('/banner-sobre.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao_banner h1 {
    display: flex;
    /* Adiciona display flex */
    font-size: 77px;
    /* Tamanho da fonte */
    margin: auto;
    /* Centraliza horizontalmente */
    color: var(--branco);
    /* Cor do texto */
    text-shadow: 3px 5px 2px #474747;
    /* Sombra do texto */
    text-align: center;
    /* Centraliza o texto */
}

.secao_sobre {
    max-width: 1024px;
    padding: 100px 20px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.secao_sobre h2 {
    font-size: 40px;
}
.secao_sobre span {
    font-size: 20px;
    font-weight: 600;
}

.container_img {
    width: 100%;
    display: flex;
}
.img {
    width: 50%;
    height: auto;
}

@media (max-width: 1024px) {
    .img {
        width: 70%; /* Ajusta a largura da imagem para 70% em telas médias */
    }
}

@media (max-width: 768px) {
    .container_img {
        flex-direction: column; /* Organiza os itens em uma coluna */
    }

    .img {
        width: 90%; /* Ajusta a largura da imagem para 90% em telas pequenas */
    }

    .secao_sobre h2 {
        font-size: 28px; /* Reduz o tamanho do título em telas pequenas */
    }

    .secao_sobre span {
        font-size: 18px; /* Reduz o tamanho do subtítulo em telas pequenas */
    }

    .secao_sobre p {
        font-size: 14px; /* Reduz o tamanho do parágrafo em telas pequenas */
    }
}

@media (max-width: 480px) {
    .container_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .img {
        width: 100%; /* Faz a imagem ocupar toda a largura disponível em telas muito pequenas */
    }

    .secao_sobre h2 {
        font-size: 24px; /* Reduz ainda mais o tamanho do título */
    }

    .secao_sobre span {
        font-size: 16px; /* Reduz ainda mais o tamanho do subtítulo */
    }

    .secao_sobre p {
        font-size: 12px; /* Reduz ainda mais o tamanho do parágrafo */
    }
}