@import url('/global.css');

.main {
    box-sizing: border-box;

}
.secao_banner {
    background: var(--amarelo);
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-image: url('/banner-home.png');
    background-repeat: no-repeat;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao_banner h1 {
    display: flex; /* Adiciona display flex */
    font-size: 77px; /* Tamanho da fonte */
    margin: auto;  /* Centraliza horizontalmente */      
    color: var(--branco); /* Cor do texto */
    text-shadow: 3px 5px 2px #474747; /* Sombra do texto */
    text-align: center; /* Centraliza o texto */       
}


.container_cards {
    width: 100%; 
}

.card_home {
    width: 100%;

}

.container_imagem {

}




